#Sistema/IDE
.DS_Store
Thumbs.db

#Dependências/Build
node_modules/
dist/
build/
.temp/
.cache/

#Ambiente/segurança
.env
.env.*
*.local

#Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
