# --- Python ---
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Caches de ferramentas
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyre/
.dmypy.json
.coverage
.cache/

# Logs temporários
*.log

# SO / editor
.DS_Store
Thumbs.db
*.swp
*.swo
